@import './variables';

#dark{
    
    .section, .nav, .footer{
        color: map-get($color-darkmode, principal);
        background-color: map-get($color-darkmode, secundary );
    }
    
    // SECTIONS
    .section{

    &--inicio{
        position: relative;
        top: 0px;
    }
    
    // HOME
    &__circles{
        display: none;
    }
        
    // ABOUT
        &__div--about{
            background-color: map-get($color-darkmode, back);
            }
    }

    // PROJECT 

    .article{
        background-color: map-get($color-darkmode, back);
    }
    
    // CONTACT
    
    &__input{
        background-color: inherit;
    }
    &__button{
        background-color: inherit;
    }
    }
    
    // Social Media Icons
    
    // .div--social-media{
    //     color: map-get($color-darkmode , enphasis );
    // }
    
    // // Skills Icons
    // .div--skills{
    //     color: inherit;
    // }
    
    // // Language 
    // .div--language{
    //     .div__button{
    //         background-color: transparent;
    // }
    
    // // Dark/Light buttons
    // .div--theme{
    //     .div__button{
    //         background-color: transparent;
    //     }
    // }

// }