@import './variables';

#dark{
    
    .section, .nav, .footer{
        color: map-get($color-darkmode, principal);
        background-color: map-get($color-darkmode, secundary );
    }
    
    // SECTIONS
    .section{

    &--inicio{
        position: relative;
        top: 0px;
    }
    
    // HOME
    &__circles{
        display: none;
    }
        
    // ABOUT
        &__div--about{
            background-color: map-get($color-darkmode, back);
            }
    }

    // PROJECT 

    .article{
        background-color: map-get($color-darkmode, back);
    }
    
    .nav{
        &--active{
            background-color: transparent;
        }
        &__div--active{
            background-color: #80808077;
        }
    }
}
    
    