.nav{
    padding: 10px; 
    position: sticky; 
    top: 0; 
    z-index: 5; 
    @include flex(row, wrap, end, center); 
    
    &--active{
        padding: 20px;
        position: fixed;
        top: 0;
        right: 0;
    }

    &__ul{ 
        @include flex(row, wrap, end, end); 
        margin-right: 20px; 
        @include mobile(768px){
            @include flex(column, nowrap, start, end);
        }
    } 

    &__a{
        padding: 10px;
    }

    &__div{
        width:100%;
        height:0vh;
        overflow: hidden;
        transition: all .5s ease;
        @include mobile(768px){
            @include flex(column, nowrap, space-between, center);
        }
    }
    &__div--active{
        height:auto;
        background-color: #fff0e277;
    }
}

.footer{
    padding: 1em;
}