@mixin flex ($direction, $wrap, $justify, $align){
    display: flex;
    flex-flow: $direction $wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin mobile($size: 480px){
    @media screen and (max-width:$size){
        @content;
    }
}

@mixin darkmode{
    @media (prefers-color-scheme: dark) {
        @content;
    }
}
