$color:(
    text: black,
    enphasis: '',
    icons: black,
    back: #8C3A26,
    circle1: #CCB9A5,
    circle2: #8C3A26,
    circle3: #FF9972,
    circle4: #CCB9A5,
);
$font:(
    enphasis: 'Playfair Display',
    principal: 'Inter',
)
