$color:(
    principal: #181818,
    secundary: #f0f0f0,
    enphasis: #DF2800,
    back: #fff0e2,
    circle1: #CCB9A5,
    circle2: #F8C49C,
    circle3: #f1bba6,
    circle4: #CCB9A5,
);

$color-darkmode:(
    principal: #f0f0f0,
    secundary: #292929,
    enphasis: #8C3A26,
    back: #808080,
);
$font:(
    principal: 'Inter',
    enphasis: 'Playfair Display',
)
