@import './variables';
@import './mixin';
@import './darkmode';

body{
    font-family: map-get($font, principal );
    color: map-get($color, text);
    font-size: 1em;
    font-weight: 300;
}

// Navbar

.nav{
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 5;
    font-weight: 300;
    @include flex(row, wrap, end, center);

    &__ul{
        list-style: none;
        @include flex(row, wrap, end, end);
        margin-right: 20px;
    }

    &__a{
        padding: 10px;
        @include links;
    }
}

.footer{
    padding: 1em;
    text-align: center;

    &__a{
        @include links
    }
    &__i{
        color: inherit;
    }
}

// SECTIONS
.section{
    min-height: 100vh;
    margin: 0;
    @include flex(column, nowrap, center, center);
    text-align: justify;

    &--contact{
        background-color: rgb(255 255 255/ 0.3);
    }

    &--inicio{
        position: relative;
        top: -50px;
    }

    // HOME

    &__h1{
        font-family: map-get($font , enphasis );
        font-size: 3.8em;
        font-weight: 600;
        margin-bottom: 0;
    }
    &__h2{
        font-family: map-get($font , enphasis );
        font-size: 2.5em;
        font-weight: 600;
        margin-bottom: 2rem;
    }
    &__h2--inicio{
        font-weight: 400;
        margin: 0;
    }
    
    &__circles{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }
    &__circle{
        position: absolute;
        width: 50%;
        height: 50%;
        filter: blur(4em);
        animation: circle 20s linear infinite;
    }
      
    @keyframes circle{
        from{ transform: rotate(0deg) scale(2.5);}
        to{transform: rotate(360deg) scale(2.5);}
    }
    
    &__circle--circle1{
        fill: map-get($color , circle1 );
        top: 0;
        left: 0;
    }
    &__circle--circle2{
        fill: map-get($color , circle2 );
        top: 0;
        right: 0;
    }
    &__circle--circle3{
        fill: map-get($color , circle3 );
        bottom: 0;
        left: 0;
    }
    &__circle--circle4{
        fill: map-get($color , circle4 );
        bottom: 0;
        right: 0;
    }
    
// ABOUT

    &__div{
        @include flex (row, wrap, center, center);
        width: 75%;
    }
    &__div--projects{
        @include flex (row, wrap, center, start);
    }
    &__div--about{
        background-color: map-get($color, back);
        @include mobile(768px){
            width: 100%;
            padding: 10px;
        }
    }

    &__img{
        margin: 1rem;
        width: 400px;
        @include mobile(){
            width: 100%;
        }
    }

    &__article{
        padding: 1rem;
        max-width: 600px;
        @include flex (column, wrap, center, start,)
    }
// &__p{}

// CONTACT

    &__form{
        width: 50%;
        @include flex (column, nowrap, center, center);
        @include mobile(){
            width: 100%;
            padding: 0px 20px;
        }
    }
    &__input{
        font-size: 1em;
        margin-bottom: 1rem;
        border: none;
        border-radius: 5px;
        padding: 10px;
        width: 100%;
    }
    &__button{
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 0.6em 1.2em;
        font-size: 1em;
        font-weight: 500;
        cursor: pointer;
    }

}

.article{
    margin: 1rem;
    border-radius: 8px;
    background-color: whitesmoke;
    height: auto;
    width: 18rem;
    @include flex (column, nowrap, start, center);

    &__img{
        width: 18rem;
        border-radius: 8px 8px 0 0 
    }
    &__div{
        padding: 2px;
        @include flex (column, nowrap, center, center);
    }
    // &__h3{

    // }
    // &__p{

    // }
    &__a{
        @include links
    }
}

// Social Media Icons

.div--social-media{
    color: map-get($color , enphasis );
    margin: 1rem;
    @include flex (row, wrap, center, center);

    .div__a{
        @include links; 
        margin: 10px;
        @include mobile(){
            width: 100%;
            text-align: center;
        }
    }
    .div__i{
        margin: 5px;
        font-size: 24px;
    }
}

// Skills Icons
.div--skills{
    @include flex (row, wrap, center, center);
    font-size: 24px; 
    color: inherit;

    .div__i{
        margin: 5px;

    }
}

// Language 
.div--language{
    .div__button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

// Dark/Light buttons
.div--theme{
    .div__button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 18px;
    }
}

